*:not(script) {
  text-align: center;
}

@font-face {
  font-family: "SpotMonkey";
  src: url("../fonts/SpotMonkey-zLO0.ttf");
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgb(2, 0, 36) 0%, rgb(9, 121, 113) 24%, rgb(0, 212, 255) 100%);
  color: aliceblue;
  margin: 0%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.content {
  padding-top: 1vh;
}

.title {
  background: linear-gradient(180deg, rgb(247, 168, 0) 0%, rgb(204, 70, 8) 83%, rgb(0, 0, 0) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: SpotMonkey;
  margin: 0%;
  font-size: 5vmax;
}

#searchButton {
  display: block;
  width: 10vmax;
  margin: 0% auto;
  margin-top: 2vh;
  font-size: 2vmax;
}

#autocomplete {
  margin-top: 1%;
  display: inline-block;
  width: 30vmax;
  height: 30%;
  /* Track */
  /* Handle */
}
#autocomplete ::-webkit-scrollbar-track {
  background-color: azure !important;
  border-radius: 3px !important;
}
#autocomplete ::-webkit-scrollbar-thumb {
  background-color: azure !important;
  border-radius: 3px !important;
}
#autocomplete #searchBox {
  display: inline;
  margin: 0 0;
  width: 100%;
  height: 1.1em;
  font-size: 1.4em;
  border: 0;
  padding: 0;
}
#autocomplete #suggestionBox {
  display: none;
  background-color: azure;
  color: black;
  height: auto;
  width: 28vmax;
  min-height: 10vh;
  max-height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1vmax;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#autocomplete #suggestionBox .suggestion {
  margin: 0 0;
  display: table;
  width: 100%;
  vertical-align: top;
}
#autocomplete #suggestionBox .suggestion img {
  display: table-cell;
  width: 100%;
  height: 9vmax;
  -o-object-fit: cover;
     object-fit: cover;
}
#autocomplete #suggestionBox .suggestion p {
  padding: 0;
  margin: 0;
  width: 60%;
  vertical-align: middle;
  display: table-cell;
  font-size: 1em;
  text-align: center;
}
#autocomplete #suggestionBox .suggestion:hover {
  background-color: lightgray;
  cursor: pointer;
}
#autocomplete .active {
  display: block !important;
  position: absolute;
}

#results {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#results * {
  display: block;
  font-size: 3.5vh;
}
#results #imgResult {
  justify-content: center;
  height: 25vh;
  width: auto;
}

img {
  height: auto;
  width: 40vw;
}

.andy {
  position: absolute;
  left: 1%;
  top: 5%;
  scale: 0.01;
}

.text {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
}

#footer {
  background-color: rgb(2, 0, 36);
  display: block;
  position: absolute;
  width: 100%;
  height: 3.3%;
  bottom: 0%;
  padding-top: 1%;
  border-top: 2px solid black;
}
#footer a {
  font-size: 1.3em;
  font-family: monospace;
  display: inline;
  margin-left: 2%;
  margin-right: 2%;
  color: aliceblue;
}/*# sourceMappingURL=lungs.css.map */