$randomHeight: 70;
$randomWidth: 100;

*:not(script){
    display: block;
    text-align: center;
}

@font-face {
    font-family: "SpotMonkey";
    src: url("../fonts/SpotMonkey-zLO0.ttf");
  }

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(2, 0, 36) 0%, rgba(9,121,113,1) 24%, rgba(0,212,255,1) 100%);
    color:aliceblue;
    margin: 0%;
    height: 100vh;
}

.content {
    padding-top: 1vh;
    size: 200%;
}

.title {
    //color: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(247, 168, 0) 0%, rgb(204, 70, 8) 83%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SpotMonkey;
    margin: 0%;
}

#searchButton {
    display: block;
    width: 100px;
    margin: 0% auto;
    margin-top: 5%;
}



#autocomplete {
    margin-top: 1%;
    display:inline-block;
    width: 30%;
    height: 30%;
     /* Track */
    ::-webkit-scrollbar-track {
        background-color: azure !important;
        border-radius: 3px !important;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: azure !important;
        border-radius: 3px !important;
    }

    #searchBox {
        margin: 0 0;
        width: 100%;
        height: 1.1em;
        font-size: 1.3em;
        border: 0;
        padding: 0;
    }
    
    #suggestionBox {
        display: none;
        background-color: azure;
        color:black;
        height: auto;
        width: 28.5%;
        min-height: 10vh;
        max-height: 40vh;
        overflow-x: hidden;
        overflow-y: auto;
        margin-left:-.05%;
        padding:.8%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

       
        
        .suggestion{
            margin:0 auto;
            display: table;
            width: 100%;
            vertical-align: top;
            img {
                display: table-cell;
                width: 100%;
                height: 10vh;
                object-fit: cover;
            }
            p {
                margin: 0;
                width:70%;
                vertical-align: middle;
                display: table-cell;
                font-size: 1em;
                text-align: center;
                vertical-align: middle;
            }
            
        }
        .suggestion:hover {
            background-color: lightgray;
            cursor: pointer;
        }
        
    }
    .active {
        display: block !important;
        position:absolute;
    }
}
#results {
    margin-top: 2%;
    #imgResult {
        display: inline-block;
        justify-content: center;
        max-height: 30vh;
        width: auto;
    }
}


img {
    height: auto;
    width: 40vw;
}

.andy {
    position: absolute;
    left: 1%;
    top: 5%;
    scale: 0.01;
}

.text {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}

#footer {
    background-color: rgb(2, 0, 36);
    display: block;
    position: absolute;
    width: 100%;
    height: 3.3%;
    bottom: 0%;
    padding-top: 1%;
    border-top: 2px solid black;
    div {
        
    }
    a {
        font-size: 1.3em;
        font-family: monospace;
        display:inline;
        margin-left: 2%;
        margin-right: 2%;
        color:aliceblue;
    }
}