/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background-secondary);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-background-tertiary);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-background-primary);
}

@font-face {
  font-family: "Monopixel";
  src: url("../fonts/Emulator.ttf");
}
@font-face {
  font-family: "GohuFont";
  src: url("../fonts/gohufont-11.ttf");
}
@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Regular.ttf");
}
@font-face {
  font-family: "Nikoleta";
  src: url("../fonts/NIKOLETA.ttf");
}
:root {
  --color-background-primary: #212121;
  --color-background-secondary: #383838;
  --color-background-tertiary: #1f1f1f;
  --color-accent: #2E0469;
  --color-accent-primary: #43069A;
  --color-accent-secondary: #8D069A;
  --color-accent-tertiary: #06139A;
  --color-accent-contrast-1: #9A0613;
  --color-accent-contrast-2: #5D9A06;
  --color-accent-contrast-3: #069A8D;
  --transition-slide: all .4s ease-in-out;
  --transition-menu: all .1s ease-in;
  --box-shadow: 0 .1vw .4vh rgba(0,0,0,0.5);
}

body {
  background-color: black;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.1rem;
  color: white;
  transition: var(--transition-slide);
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorPicker {
  min-height: 20vmin;
  width: 8%;
  position: absolute;
  transform: translateY(-100%) translateX(92vw);
  transition: 0.8s;
  top: 0;
  padding: 0% 1%;
  background-color: var(--color-background-primary);
}
.colorPicker h4 {
  font-size: 1.4vmin;
  text-align: center;
}

.returnUp {
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 90%;
  bottom: 0;
  left: 5%;
  border-top: 1px dotted;
  align-items: center;
}
.returnUp i {
  transform: translateY(5%) translateX(3vw);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

input[type=color] {
  right: 0;
  display: inline-block;
  border-radius: 30%;
  background-color: var(--color-background-secondary);
  height: 3.5vmin;
  margin: 3%;
  width: 6vw;
  border: none;
  outline: none;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 2%;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 30%;
}

input[type=color]:hover {
  background-color: var(--color-background-secondary);
}

input[type=color]:active {
  background-color: var(--color-accent-secondary);
}

.row {
  display: flex;
}

input[type=reset] {
  position: absolute;
  left: 1vw;
  color: white;
  display: inline-block;
  border-radius: 30%;
  background-color: var(--color-background-tertiary);
  height: 3.6vmin;
  font-size: 1vmin;
  width: 3vw;
  margin: 2%;
  border: none;
  outline: none;
}

input[type=reset]:hover {
  background-color: var(--color-background-secondary);
}

input[type=reset]:active {
  background-color: var(--color-accent-secondary);
}

header {
  height: 100vh;
  color: white;
  overflow: hidden;
}

.section {
  min-height: 4vh;
  max-height: 4vh;
  width: 80%;
  position: absolute;
  transition: all 0.8s;
  bottom: 0vh;
  transform: translateX(10vw);
  padding: 0% 1%;
  overflow-y: scroll;
  z-index: 0;
  background-color: var(--color-background-primary);
}

.subsection {
  display: inline;
  float: left;
  font-size: 1vmax;
  margin: 1% 2%;
  padding: 0% 1%;
  max-width: 30%;
  background-color: var(--color-background-secondary);
}
.subsection li {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 0.8vmax;
}
.subsection .icon {
  position: relative;
  display: flex;
  min-width: 5%;
  justify-content: center;
  width: 0.8vmax;
  top: 0.2vmin;
}

#about .content {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-width: 49%;
       column-width: 49%;
  -moz-column-gap: 2%;
       column-gap: 2%;
  -moz-column-fill: balance;
       column-fill: balance;
  overflow-y: hidden;
  display: inline-block;
  text-justify: inter-word;
  text-align: justify;
}

.content {
  display: inline;
}
.content a {
  color: var(--color-accent-contrast-3);
}
.content a:visited {
  color: var(--color-accent-secondary);
}
.content .icon {
  margin-right: 1vmin;
}

#contact .content {
  margin-top: 0.7%;
  grid-template-columns: 3;
  grid-template-rows: 1;
  row-gap: 2.5%;
  display: grid;
}
#contact .content section {
  font-size: 2em;
  text-align: center;
}
#contact .content section i {
  top: 1vmin;
  margin-right: 1vmin;
}
#contact .content #one {
  grid-column: 1;
}
#contact .content #two {
  grid-column: 2;
}
#contact .content #three {
  grid-column: 3;
}

.active {
  z-index: 1;
  display: block;
  min-height: 12em;
  overflow-y: auto;
}
.active .return h2 {
  opacity: 100%;
  float: left;
}

#contact.active {
  top: 90vh;
  min-height: 10vh;
}

.expanded {
  min-height: 60vh;
}

li {
  display: flex;
}

.activeUp {
  display: block;
  transform: translateX(92vw);
}

.present {
  display: grid;
  padding-top: 0%;
  padding-bottom: 10px;
  text-align: center;
}

.profession {
  font-size: 5vh;
  line-height: 100%;
  width: auto;
  height: 2.5em;
  position: relative;
  overflow-y: hidden;
  display: grid;
}
.profession .bubble {
  display: block;
  overflow-wrap: break-word;
  height: 100%;
  transition: opacity 0.6s, transform 0.8s;
  display: table;
}
.profession .bubble p {
  overflow-wrap: anywhere;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.activeProf {
  transition-timing-function: ease-out;
  transform: translateY(-25%);
  opacity: 1;
}

.inactiveProf {
  transition-timing-function: ease-in;
  transform: translateY(100%);
  opacity: 0;
}

.systemControls {
  position: block;
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 1vw;
  flex-direction: column;
  transform: translateY(-50%);
}
.controls .active-btn .navicon {
  color: white;
}
.controls .control {
  z-index: 0;
  cursor: pointer;
  width: 1vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}
.controls .navtop {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.controls .navbottom {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.controls .navicon {
  z-index: 12;
  transition: 0.4s;
  color: var(--color-accent-contrast-3);
}
.controls .control:hover .navicon {
  z-index: 2;
  transform: scale(1.5) translateX(-60%);
  color: white;
}

.canvas_for_three {
  width: 100%;
  height: 100%;
  z-index: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  30% {
    opacity: 0;
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  30% {
    opacity: 1;
    transform: translateY(0%);
  }
  60% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
.return {
  z-index: 10;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1%;
  width: 100%;
  border-bottom: 1px dotted;
  background-color: rgba(31, 31, 31, 0.5803921569);
}
.return i {
  z-index: 5;
  cursor: pointer;
  background-color: white;
  height: 0;
}
.return .fa-angle-up {
  float: right;
}
.return h2 {
  top: 2%;
  opacity: 0%;
  transition: 0.2s;
  position: absolute;
  float: left;
}

#portfolio h3 {
  margin-left: 30%;
}
#portfolio .leftContent {
  float: left;
}
#portfolio .rightContent {
  float: right;
}
#portfolio .leftContent, #portfolio .rightContent {
  width: 50%;
}
#portfolio .leftContent div, #portfolio .rightContent div {
  margin-bottom: 4%;
  float: left;
}
#portfolio .leftContent div section, #portfolio .rightContent div section {
  float: left;
  margin-right: 3%;
}
#portfolio .leftContent div section a, #portfolio .rightContent div section a {
  width: 15vh;
  height: 11vh;
}
#portfolio .leftContent div section a img, #portfolio .rightContent div section a img {
  width: 15vh;
  height: 10vh;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px inset white;
}
#portfolio .leftContent div section a p, #portfolio .rightContent div section a p {
  margin: 0;
  font-size: small;
  color: grey;
  text-align: center;
  font-style: italic;
}
#portfolio .leftContent div p, #portfolio .rightContent div p {
  margin: 0% 10px;
  text-align: justify;
  text-justify: inter-word;
}/*# sourceMappingURL=styles.css.map */